__Task 1__ <br>
str1 = "Welcome to python" <br>
 [check "to" is present in string]

In [1]:
str1 = "Welcome to Python"
if "to" in str1 :
    print ("String is present")
else : 
    print ("String is not present")

String is present

__Task 2__ <br>
create a list of lenght = 10 and access 5th to 8th data.

In [2]:
list1 = [0,1,2,3,4,5,6,7,8,9]
list1[5:9]

[5, 6, 7, 8]

__Task 3__ <br>
Add item 70 after 60 in the following Python List<br>
input<br>
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]<br>
output<br>
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [3]:
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]

In [4]:
l1[2][2].insert(2,70)

In [5]:
l1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

__Task 4__ <br>
add sublist [7,8] after 6<br>
input<br>
l2 = [1,2,[3,4,5,6],9]<br>
output<br>
[1,2,[3,4,5,6,[7,8]],9]

In [6]:
l2 = [1,2,[3,4,5,6],9]
l2[2].insert(4,[7,8])

In [7]:
l2

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

__Task 5__ <br>
From the below dictionary, do the following tasks<br>
    access "Mike"<br>
    access 80 <br>
    change "Mike" to "Your name"<br>
    add ML = 80 and DL = 80 inside marks

In [8]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [9]:
dict1["april_batch"]["student"]["name"]

'Mike'

In [10]:
dict1["april_batch"]["student"]["marks"]["python"]

80

In [11]:
dict1["april_batch"]["student"]["name"]="Aarti"
dict1

{'april_batch': {'student': {'name': 'Aarti',
   'marks': {'python': 80, 'maths': 70}}}}

In [12]:
dict2 = {"ML":80,"DL":80}
dict1["april_batch"]["student"]["marks"].update(dict2)
dict1

{'april_batch': {'student': {'name': 'Aarti',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

__Task 6__<br>
Add and Remove element from tuple

In [13]:
#Add element in tuple (add 60)
tup1=(10,20,30,40,50)
list1=list(tup1)
list1.insert(5,60)
tup1=tuple(list1)
tup1

(10, 20, 30, 40, 50, 60)

In [14]:
#Remove element in tuple (remove 50)
tup1=(10,20,30,40,50)
list1=list(tup1)
list1.pop(4)
tup1=tuple(list1)
tup1

(10, 20, 30, 40)

__Task 7__<br>
Go through below inbuit methods<br>
1) difference() 2) symmetric_difference()

In [15]:
#The difference() method returns the set difference of two sets.
A = {10,20,30,40}
B = {30,40,50,60}
# Equivalent to A-B
print("A-B : ",A.difference(B))
# Equivalent to B-A
print("B-A : ",B.difference(A))

A-B :  {10, 20}
B-A :  {50, 60}

In [16]:
#Python symmetric_difference() method returns the symmetric difference of two sets.
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
C = {}
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'a', 'e', 'b'}
{'a', 'e', 'b'}
{'a', 'b', 'c', 'd'}
{'e', 'c', 'd'}